! special
*.foreground:   #ece9ef
*.background:   #2e154d
*.cursorColor:  #ece9ef

! black
*.color0:       #2e154d
*.color8:       #443f4a

! red
*.color1:       #ff203c
*.color9:       #ff203c

! green
*.color2:       #47f743
*.color10:      #47f743

! yellow
*.color3:       #cfd930
*.color11:      #cfd930

! blue
*.color4:       #4933e4
*.color12:      #4933e4

! magenta
*.color5:       #7d39d1
*.color13:      #7d39d1

! cyan
*.color6:       #41eff3
*.color14:      #41eff3

! white
*.color7:       #1b092e
*.color15:      #1b092e

! scrollbar
URxvt*scrollBar: false

! enable perl extension
URxvt.perl-ext-common:              font-size,default,matcher

! font
URxvt.font:                         xft:Hasklug Nerd Font Mono:pixelsize=10:style=regular
URxvt.keysym.Control-Up:            perl:font-size:increment
URxvt.keysym.Control-Down:          perl:font-size:decrement
URxvt.keysym.Control-Shift-Up:      perl:font-size:incglobal
URxvt.keysym.Control-Shift-Down:    perl:font-size:decglobal

! copy paste
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! clickable URLs
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
